name: C/C++ CI

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, master ]

jobs:
  build:

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v4

    - name: configure
      run: mkdir dist

    - name: build
      run: make all
